<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATM - help</title>
</head>
<body>
  <h1>Welcome to ATM</h1>
  <h3>Available actions:</h3>
  <ul>
    <li>GET <a href="/">/</a> - help</li>
    <li>GET <a href="/balance">/balance</a> - show balance</li>
    <li>GET <a href="/deposit">/deposit</a> - show deposit form</li>
    <li>GET <a href="/withdraw">/withdraw</a> - show withdraw form</li>
  </ul>
</body>
</html>